[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[scripts]
"fotc-bot" = "python -m fotc.main"

[packages]
sqlalchemy = "*"
python-telegram-bot = "*"
requests = "*"
dateparser = "*"
invoke = "*"
typing = "*"
"psycopg2-binary" = "*"
pytz = "*"

[dev-packages]
pytest = "*"
invoke = "*"

[requires]
python_version = "3.6"
